@model int 

<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<h1>Posts Redactor @Model</h1>

<form asp-action="Create" asp-route-blogId="@Model" method="post">
    <h1>Name</h1>
    <input type="text" name="Title" value="" />
    <h1>Game</h1>
    <select id="gameSelect" name="Game">
    </select>
    <input type="submit" />
</form>

<script>
    $(document).ready(function () {
        $.ajax({
            url: '@Url.Action("GetGames", "Posts")',
            method: 'GET',
            success: function (data) {
                console.log(data);
                data.forEach(function (game) {
                    $("#gameSelect").append(`<option value="${game.gameName}">${game.gameName}</option>`);
                });
            },
            error: function (error) {
                console.log("Error loading games: ", error);
            }
        });
    });
</script>
